h1 {
  display: flex;
  justify-content: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin-right: 5px;
}


